.loginScreen {
  position: relative;
  height: 100%;  
  background-image: url("https://help.nflxext.com/0af6ce3e-b27a-4722-a5f0-e32af4df3045_what_is_netflix_5_en.png");
  background-position: center;
  background-repeat: no-repeat;  
  background-size: cover;  
}

.loginScreen__logo {
  position: fixed;
  left: 0;
  width: 150px;
  object-fit: contain;
  padding-left: 20px;
}

.loginScreen__button { 
  position: fixed;
  right: 20px;
  top: 20px;
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;

  background-color: #e50914;

  cursor: pointer;  
  overflow: none;
  border: none;
  font-weight: 600;
}

.loginScreen__gradient {
  width: 100%;
  z-index: 1;
  height: 100vh;
  background-color: rgba(0,0,0,.4);
  background-image: linear-gradient(
    to top,
    rgba(0,0,0,0.8) 0,
    rgba(0,0,0,0) 60%,
    rgba(0,0,0,0.8) 100%
  );  
}


.loginScreen__body {  
  position: absolute;
  top: 25%;  
  width: 100%;  
  text-align: center  ;
  z-index: 1;
  color: #fff;
  padding: 20px;  
}

.loginScreen__body > h1 {
  font-size: 3.125rem;
  margin-bottom: 20px;
}

.loginScreen__body > h2 {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 30px;
}

.loginScreen__body > h3 {
  font-size: 1rem;
  font-weight: 400;  
}

.loginScreen__input {
  margin: 20px;
}

.loginScreen__input input{
  padding: 25px;
  outline-width: 0;
  height: 30px;
  width: 30%;
  border: none;
  max-width: 600px;
}

.loginScreen__getStarted {
  padding: 16px 20px;
  font-size: 1rem;
  color: #fff;
  background-color: #e50914;
  border: none;
  font-weight: 600;
  cursor: pointer;

}

@media screen and (max-width: 480px) {
  .loginScreen__body > h1 {
    font-size: 2.125rem;
    margin-bottom: 20px;
  }

  .loginScreen__body > h2 {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 30px;
  }

  .loginScreen__body > h3 {
    font-size: 1rem;
    font-weight: 400;
  }

  .loginScreen__form {
    display: flex;
    flex-direction: column;
  }

  .loginScreen__form input {
    width: 100%;
    padding: 10px;
  }
  .loginScreen__form button {
    padding: 10px;
    font-size: .8rem;
  }
}