.banner {
  position: relative;
  /* height: 448px;   */
  height: 85vh;
  color: #fff;
  object-fit: contain;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.banner::after{  
  content: '';
  position: absolute;
  top: 0;
  display: block;
  height: 100%;
  width: 100%;   
  background-color: rgba(25, 25, 25, .4);
  background-image: linear-gradient(to top,
          rgba(0, 0, 0, .4) 0,
          rgba(0, 0, 0, 0) 60%,
          rgba(0, 0, 0, .4) 100%);
}

.banner__contents {
  margin-left: 30px;
  z-index: 90;
}

.banner__title {
  
  font-size: 3rem;
  font-weight: 800;
  padding-bottom: 0.3rem;
  color: #fbe30c;
  /* color: #e6e6e6; */
  margin: 0;
  width: 100%;
}

@media screen and (min-width: 769px) {
  .banner__title {
    width: 45%;
    font-size: 5rem;
  }
}



.banner__description {
  width: 80%;
  text-align: justify;
  line-height: 1.3;
  font-size: 1.3rem;
  max-width: 460px;
  font-weight: 400;
}

.banner__buttons {
  margin-top: 1rem;
}

.banner--fadeBottom {
  height: 7.4rem;
  background-image: linear-gradient(180deg,
      transparent,
      rgba(37, 37, 37, 0.61),
      #111);
  position: absolute;
  width: 100%;
  bottom: 0;
}

.banner__button {
  cursor: pointer;
  color: #fff;
  outline: none;
  border: none;
  font-weight: 700;
  border-radius: .2vw;
  width: 120px;
  padding: .5rem 2rem;
  margin-right: 1rem;
  background-color: rgba(51, 51, 51, .5);
}


.banner__button:hover {
  color: #000;
  background-color: #e6e6e6;
  transition: background-color .2s, color .2s;
}
